<template>
    <div class="hello" style="position:relative; bottom:60px"><br><br>
    <center>
        <img src="../assets/bengkel2.jpeg">
    <table style="position:relative; bottom:120px;">
      <tr>
        <td><router-link to="/spare"><img src="../assets/sparepart.png" style="position:relative; right:60px; bottom:10px; border-radius:50%; height:263px; "><h2 style="position:relative; left:0px;">Sparepart</h2></router-link></td>
        <td><router-link to="/montir"><img src="../assets/montir.png" style="position:relative; left:20px; bottom:10px; border-radius:50%; height:260px;"><h2 style="position:relative; left:105px;">Montir</h2></router-link></td>
      </tr>
    </table>
    <div style="background-color:#333; padding:20px; position:relative; bottom:50px;" class="col-sm-10 col-sm-offset-1">
        <b><i style="color:white;">@Copyright.DikiHidayat</i></b>
    </div>
    </center>
    </div>
</template>
