<template>
  <div class="hello" style="position:relative; bottom:60px">
    <p style="color:grey; font-size:20px;">____________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">____________________________________________________________________________</p>
    <center>
    <h1>Data Montir</h1>
    <router-link to="/">
    <button type="button" class="btn btn-sm " style="background:lightgrey; position:relative; bottom:10px; right:350px;">back</button>
    </router-link>
    <router-link to="/montir/create">
    <button type="button" class="btn btn-sm btn-primary " style="position:relative; bottom:10px; right:350px;">tambah</button>
    </router-link>
    <table class="table table-hover table-striped" style="width:830px;" >
      <tr>
        <th>No</th>
        <th>Nama Montir</th>
        <th>Umur</th>
        <th>Alamat</th>
        <th>Pendidikan</th>
        <th>Aksi</th>
      </tr>
      <tr v-for="(montir, i) in data_montir" :key="i">
          <td>{{ i + 1 }}</td>
          <td>{{ montir.nama_montir }}</td>
          <td>{{ montir.umur }}</td>
          <td>{{ montir.alamat }}</td>
          <td>{{ montir.pendidikan }}</td>
          <td>
            <router-link :to="'/montir/' + montir.id"><button type="button" class="btn btn-sm btn-primary">edit</button></router-link>
            <button @click="deleteRow(montir.id)" class="btn btn-sm btn-danger">delete</button>
          </td>
        </tr>
    </table>
    </center>
    <p style="color:grey; font-size:20px;">____________________________________________________________________________</p>
    <p class="top-right"><b><i>@copyright.DikiH 2019</i></b></p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">____________________________________________________________________________</p>
  </div>
</template>

<script>
import { api } from '@/helper/api'

export default {
  name: 'Montir',
  data () {
    return {
      data_montir: []
    }
  },
  mounted () {
    this.get()
  },
  methods: {
    get () {
      let url = 'http://localhost/studikasusUAS/public/'
      let url2 = 'montir'
      api.get(url + url2).then(res => {
        if (res.data.status === 'success') {
          this.data_montir = res.data.result
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    },
    deleteRow (id) {
      let url = 'http://localhost/studikasusUAS/public/montir/'
      api.delete(url + id).then(res => {
        if (res.data.status === 'success') {
          this.get()
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>
