<template>
  <div class="hello" style="position:relative; bottom:60px">
    <p style="color:grey; font-size:20px;">____________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">____________________________________________________________________________</p>
    <center>
    <router-link to="/montir">
    <button type="button" class="btn btn-md btn-primary" style="position:relative; bottom:10px; right:390px;">back</button>
    </router-link>
    <h2>Data Montir</h2>
    <form @submit.prevent="submitForm">
    <table class="table table-hover table-striped" style="width:830px; border-bottom:1px solid lightgrey;" >
      <tr>
        <td><label>Nama Montir </label></td>
        <td><input type="text" v-model="montir.nama_montir"  class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Umur </label></td>
        <td><input type="text"  v-model="montir.umur" class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Alamat </label></td>
        <td><input type="text" v-model="montir.alamat" class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Pendidikan </label></td>
        <td><input type="text" v-model="montir.pendidikan" class="form-control" required></td>
      </tr>
    </table>
    <button type="submit" class="btn btn-lg btn-info" style="position:relative; left:360px;">Save</button>
    </form>
    </center>
    <p style="color:grey; font-size:20px;">____________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">____________________________________________________________________________</p>
    <p class="top-right"><b><i>@copyright.DikiH 2019</i></b></p>
  </div>
</template>
<script>
import {api} from '@/helper/api'

export default {
  name: 'MontirForm',
  data () {
    return {
      montir: {
        id: null,
        nama_montir: '',
        umur: '',
        alamat: '',
        pendidikan: ''
      }
    }
  },
  mounted () {
    let id = this.$route.params.id

    if (id) {
      let url = 'http://localhost/studikasusUAS/public/montir/'
      api.get(url + id).then(res => {
        this.montir = res.data.result
      })
    }
  },
  methods: {
    submitForm () {
      let data = this.montir
      let url = 'http://localhost/studikasusUAS/public/montir'

      if (this.montir.id) {
        url += '/' + this.montir.id
      }

      api.post(url, data).then(res => {
        if (res.data.status === 'success') {
          this.$router.push('/montir')
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>
